/* ==BASE STYLES AND GLOBAL RULES== */
:root {
    /* Color palette */
    --header: #1db954;
    --background: #121212;
    --mid-background: #212121;
    --light-background: #535353;
    --highlight: #535353;
    --font-bright: #ffffff;
    --font-dark: #b3b3b3;
    /* Fonts */
    --font-main: 'Montserrat', sans-serif;
  }

body {
    font-family: var(--font-main);
    text-align: center;
    background-color: var(--background);
    color: var(--font-bright);
}

h1 {
    color: var(--header);

}

h3 {
    color: var(--font-dark);
    margin-top: 0;
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-direction: column;
}

#logo {
    height: 2rem;
    background-color: #1db954;
    border-radius: 5px;
}

#logo-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

#display-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.list-section {
    margin-top: 20px;
    width: 500px;
    height: fit-content;
}

.collection-list {
    text-align: left;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--light-background);
}

.collection-list li {
    list-style: none;
}

.album, .folder {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 2px;
    padding: 7px;
    height: 40px;
    background-color: var(--mid-background);
    border-radius: 5px;
    color: var(--font-bright);
}

.album:hover, .folder:hover {
background-color: var(--background);
cursor: pointer;
}

.album-index, .folder-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    color: var(--font-dark);
    font-size: 0.9rem;
}

.album-text, .folder-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.album-title, .folder-name {
    overflow-y: hidden;
    font-weight: 400;
    font-size: 0.9rem;
}

.album-artist, .folder-count {
    color: var(--font-dark);
    font-size: 0.8rem;
}

.button {
    background-color: var(--mid-background);
    color: var(--font-bright);
    border: none;
    border-radius: 500px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: var(--light-background); 
}

.button:active {
    background-color: var(--mid-background);
}

#libraryReturnButton, #libraryTransferButton {
    display: none;
}

#libraryTransferButton {
    height: 50px;
}

#transfer-button-container {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-cover {
    height: 40px;
    border-radius: 5px;
}