body {
    text-align: center;
}

#list-section {
    margin-top: 20px;
}

#collection-list {
    text-align: left;
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
}

#collection-list li {
 list-style: none;
}

