/* ==BASE STYLES AND GLOBAL RULES== */
:root {
    /* Color palette */
    --spotify-green: #1db954;
    --spotify-green-highlight: #15803b;
    --background: #121212;
    --mid-background: #212121;
    --mid-background-hover: #313131;
    --light-background: #535353;
    --highlight-bright: #787878;
    --higlight-dark: #121212;
    --font-bright: #ffffff;
    --font-dark: #b3b3b3;
    --failed: #cd4e4e ;
    --failed-highlight: #d23b3b ;
    /* Fonts */
    --font-main: 'Montserrat', sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: var(--font-main);
    text-align: center;
    background-color: var(--background);
    color: var(--font-bright);
    min-height: 100vh;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    color: var(--spotify-green);
}

h2 {
    font-size: 24px;
    color: var(--font-bright);
}

h3 {
    font-size: 18px;
    color: var(--font-dark);
    margin-top: 0;
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 35px;
    bottom: 0;
    font-size: 14px;
}

footer div span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    height: 16px;
    vertical-align: middle;
    filter: invert(100%);
}

.footer-link {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0;
    text-decoration: none;
}

#logo {
    height: 2rem;
    background-color: #1db954;
    border-radius: 5px;
}

#logo-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

#create-playlist-container {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;
}

input {
    background-color: var(--mid-background);
    color: var(--font-bright);
    border: none;
    border: solid 1px transparent;
    border-radius: 500px;
    padding: 10px 10px;
}

input:hover {
    background-color: var(--mid-background-hover);
    border: solid 1px var(--highlight-bright);
}

input:focus {
    background-color: var(--mid-background-hover);
}

input:disabled {
    background-color: var(--mid-background);
    opacity: 50%;
    color: var(--font-dark);
    cursor:default;
}

.button {
    font-size: 14px;
    background-color: var(--mid-background);
    color: var(--font-bright);
    border: none;
    border-radius: 500px;
    padding: 4px 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    min-height: 32px;
}

.button-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mid-background);
    color: var(--font-bright);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    height: 32px;
    width: 32px;
}

.button:hover, .button-round:hover {
    background-color: var(--light-background); 
}

.button:active {
    background-color: var(--mid-background);
}

.button:disabled, .button-round:disabled {
    background-color: var(--mid-background);
    opacity: 50%;
    color: var(--font-dark);
    cursor:default;
}

#button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#display-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 1280px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header-container h2 {
    flex-grow: 1; /* Allows the title to take up as much space as possible, centering it */
    margin: 0; /* Adjust as necessary */
}

.header-container > div {
    flex-grow: 1; /* Matches the button's space on the opposite side to maintain center alignment */
}

.user-info {
    text-align: left;
    font-size: 14px;
    visibility: hidden;
}

.list-section {
    margin-top: 20px;
    width: 500px;
    height: fit-content;
    position: relative;
}

.collection-list {
    text-align: left;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--light-background);
}

.collection-list li {
    list-style: none;
}

.album, .folder {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 2px;
    padding: 7px;
    height: 40px;
    background-color: var(--mid-background);
    border-radius: 5px;
    color: var(--font-bright);
}

.album:hover {
background-color: var(--higlight-dark);
cursor: default;
}

.folder:hover {
    background-color: var(--higlight-dark);
    cursor: pointer;
}

.album-index, .folder-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    color: var(--font-dark);
    font-size: 0.9rem;
}

.album-text, .folder-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.album-title, .folder-name {
    overflow-y: hidden;
    font-weight: 400;
    font-size: 0.9rem;
}

.album-artist, .folder-count {
    color: var(--font-dark);
    font-size: 0.8rem;
}

.not-found-highlight {
  background-color: var(--failed);
}

.not-found-highlight:hover {
    background-color: var(--failed-highlight);
  }

#libraryTransferButton {
    display: flex;
    align-items: center;
    gap: 6px;
    height: fit-content;
    max-width: fit-content;
    min-width: none;
}

#transfer-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#libraryReturnButton {
    align-self: left;
}

.album-cover {
    height: 40px;
    border-radius: 5px;
}

#feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

#feedback {
    color: var(--spotify-green);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
}

a {
    margin-top: 10px;
    font-weight: bold;
    color: var(--spotify-green);
}

a:hover {
    color: var(--spotify-green-highlight);
}

.spinner-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.spinner {
    height: 50px;
    margin-bottom: 10px;
}

.spinner-text {
    color: var(--spotify-green);
    font-size: 16px;
  }

.spinner-text::after {
    content: "";
    animation: dots 1.5s infinite step-start;
  }

  @keyframes dots {
    0%, 20% {
      content: "";
    }
    40% {
      content: ".";
    }
    60% {
      content: "..";
    }
    80%, 100% {
      content: "...";
    }
  }

/* SCROLLBAR */
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: var(--light-background);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-bright);
  }

  /* ==MEDIA QUERIES== */

  /* medium screens */
  @media (max-width: 1100px) {
    body {
        height: fit-content;
        width: 100vw;
    }

    #display-section {
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .list-section {
        width: 43%;
    }

    #create-playlist-container {
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
}

/* small screens */
@media (max-width: 600px) {
    body {
        height: fit-content;
        width: 100vw;
    }

    #display-section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 375px;
    }

    .list-section {
        width: 90%;
    }

    #create-playlist-container {
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
}