<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Discofy - Export Discogs Collection as a Spotify Playlist">
    <meta name="keywords" content="Discogs, Spotify, Records, Collection, Playlist, Export, Vinyl">
    <title>Discofy</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="logo-container"><img src="./static/favicon.ico" alt="Discofy logo" id="logo"><h1>Discofy</h1></div>
      <h3>Export Discogs Collection to Spotify</h3>
    </header>
    <main>
    <div id="button-section">
      <button class="button" id="discogsImportButton">Import from Discogs</button>
      <button class="button" id="spotifyLoginButton">Login to Spotify</button>
      <button class="button" id="seeReportButton" disabled>Save Report</button>
      <button class="button" id="logoutButton" disabled>Logout</button>
    </div>
    <div id="display-section">
      <div class="list-section" id="list-container-discogs">
        <div class="spinner-container" id="loading-spinner-discogs" style="display: none;">
        <img src="../static/spinner.svg" class="spinner" id="loading-spinner-discogs" alt="Loading...">
        <span id="spinner-text-discogs" class="spinner-text"></span>
      </div>
      <div class="header-container">
        <button class="button-round" id="libraryReturnButton" disabled>
          <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6l-6 6 6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <h2>Discogs Collection</h2>
      </div>
        <p class="user-info discogs" id="user-info-discogs">Logged in: <a href="" target="_blank"></a></p>
        <ul class="collection-list" id="list-discogs"></ul>
      </div>
      <div id="transfer-button-container">
        <button class="button" id="libraryTransferButton" disabled>Move to Spotify</button>
      </div>
      <div class="list-section" id="list-container-spotify">
        <div class="spinner-container" id="loading-spinner-spotify" style="display: none;">
          <img src="../static/spinner.svg" class="spinner" id="loading-spinner-spotify" alt="Loading...">
          <span id="spinner-text-spotify" class="spinner-text">Text</span>
        </div>
        <div class="header-container">
        <h2>Spotify Playlist</h2>
        </div>
        <p class="user-info spotify" id="user-info-spotify">Logged in: <a href="" target="_blank"></a></p>
        <ul class="collection-list" id="list-spotify"></ul>
        <input type="text" id="playlist-name" maxlength="100" placeholder="Enter your playlist name" oninput="toggleCreatePlaylistButtonOnInput()" disabled>
        <button class="button" id="create-playlist-button" disabled>Create Playlist</button>
      </div>
    </div>
    <div id="feedback-section">
      <div id="feedback"></div>
    </div>
    <script>
      window.api_url = "{{ api_url }}";
    </script>
    <script src="../static/Script.js"></script>
  </main>
  <footer>
    <div>
      <span>Created by <a href="https://github.com/oskarprzybylski23" target="_blank">Oskar Przybylski</a> (2024)</span>
    </div>
  </footer>
  <template id="folderTemplate">
    <li class="library-item">
      <div class="folder">
        <span class="folder-index"></span>
        <div class="folder-text">
          <span class="folder-name"></span>
          <span class="folder-count"></span>
        </div>
      </div>
    </li>
  </template>
  <template id="albumTemplate">
    <li class="collection-item">
      <div class="album">
        <span class="album-index"></span>
        <img class="album-cover" src="" alt="Album Cover">
        <div class="album-text">
          <span class="album-title"></span>
          <span class="album-artist"></span>
        </div>
      </div>
    </li>
  </template>
  </body>
</html>
